@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "burtons";
    src: url("../public/Burtons.otf")
}

.card-header {
    padding: 15px;
    margin: 13px;
    border: outset black;
    border-bottom-color: aliceblue;
    box-shadow: cyan 2px 2px 2px 2px;
}

.button-style {
    background-color: lightblue;
    height: 35px;
    width: 75px;
    box-shadow: cyan 2px 1px 1px 2px;
    float: right;
    color: white;
}

.animate-move {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 100%;
    animation-name: example;
    animation-duration: 20s;
}

@keyframes example {
    0%   {background-color:cyan; left:0px; top:0px;}
    25%  {background-color:teal; left:50px; top:50px;}
    33%  {background-color:teal; left:0px; top:0px;}
    44%  {background-color:teal; left:0px; top:150px;}
    55% {background-color:cyan; left:50px; top:100px;}
    66% {background-color:cyan; left:100px; top:0px;}
    77% {background-color:cyan; left:50px; top:50px;}
    88% {background-color:teal; left:0px; top:100px;}
    100% {background-color:teal; left:50px; top:100px;}
}