@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "burtons";
    src: url("../public/Burtons.otf")
}

.card-header {
    padding: 15px;
    margin: 13px;
    border: outset black;
    border-bottom-color: aliceblue;
    box-shadow: cyan 2px 2px 2px 2px;
}

.button-style {
    background-color: lightblue;
    height: 35px;
    width: 75px;
    box-shadow: cyan 2px 1px 1px 2px;
    float: right;
    color: white;
}

.animate-move {
    position: relative;
    border-radius: 100%;
    animation-name: bounce;
    animation-duration: 8s;
}

@keyframes bounce {
    0%   {background-color:cyan; left:0; top:0;}       /* Starting Position */
    10%   {background-color:cyan; left:10px; top:0;}       /* Starting Position */
    20%  {background-color:white; left:0; top:10px;}     /* Down to bottom */
    30%  {background-color:white; left:10px; top:10px;}      /* Up to top */
    40%  {background-color:cyan; left:10px; top:20px;}     /* Down to bottom */
    50%  {background-color:cyan; left:0; top:20px;}      /* Up to top */
    60%  {background-color:white; left:10px; top:20px;}      /* Up to top */
    70%  {background-color:white; left:0px; top:20px;}      /* Up to top */
    80%  {background-color:cyan; left:20px; top:20px;}      /* Up to top */
    90%  {background-color:cyan; left:20px; top:40px;}      /* Up to top */
    100% {background-color:white; left:0; top:0;}     /* Return to bottom with slight offset */
}